@font-face {
    font-family: "Bai-Jamure";
    src: url('../assets/fonts/BaiJamjuree-Regular.ttf');
    font-weight: 400;
}

:root {
--primaty-color: #161513;
--bright-color: #E94D35;
--the-lightest-color: #6a4f5739;
--background-color: #F2F1EF;

--baze-font-size: 1em;
--smaller-font-size: 0.9em;
--bigger-font-size: 1.5em;
--huge-font-size: 4em;

--indent-bottom: 5%;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: "Bai-Jamure";
    font-size: var(--baze-font-size);
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.resume-page {
    background-color: var(--background-color);
}
.list {
    list-style-type: none;
    padding-left: 0;
}

.link {
    text-decoration: none;
    color: inherit;
}

.wrapper {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}
.header {
    margin-bottom: var(--indent-bottom);
}
.navigation__list {
    display: flex;
    justify-content: center;
}
.navigation__item + .navigation__item {
    margin-left: 5%;
}
.underlined_link {
    position: relative;
}
.underlined_link:after {
	display: block;
	position: absolute;
    bottom: -3px;
	left: 0; 
	width: 0;
	height: 1px; 
	background-color: var(--bright-color); 
	content: "";
	transition: width 0.3s ease-out; 
}

.underlined_link:hover:after,
.underlined_link:focus:after {
	width: 100%; 
}

.about-me {
    margin-bottom: var(--indent-bottom);
}

.about-me__profession {
    font-size: var(--bigger-font-size);
}

.about-me__title,
.about-me__profession,
.title {
    text-transform: uppercase;
}

.title {
    font-size: var(--bigger-font-size);
    margin: 5px 0;
}

.subtitle {
    font-size: var(--smaller-font-size);
    color: var(--bright-color);
}
.subtitle_upper {
    text-transform: uppercase;
}
.text_bold {
    font-weight: 600;
}
.text_light {
    font-weight: 200;
}
.about-me__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.about-me__title {
    font-size: var(--huge-font-size);
    font-weight: 400;
}
.typing {
    border-right: 1px solid black;
}
.about-me__photo {
    display: block;
    border-radius: 50%;
    padding: 6%;
}
.greeting {
    display: flex;
    flex-direction: column;
    max-width: 55%;
}
.about-me__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15%;
}
.about-me__wrapper {
    margin-bottom: 5%;
}
.section_line {
    background-color: var(--primaty-color);
    min-height: 50px;
    transform: rotate(-5deg) scale(1.1);
}
.section_line__list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.section_line__text {
    color: var(--background-color);
}
.section_line__item {
    position: relative;
    display: flex;
}
.section_line__item::after {
    content: url('../assets/img/icons/small-symbol.svg');
    height: 20px;
    width: 20px;
    top: 25%;
    right: -100px;
    position: absolute;
    animation: 3s linear infinite rotate;
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
      }
    
      to {
        transform: rotate(360deg);
      }
  }
.slider {
    display: flex;
    align-items: center;
}
.arrow {
    display: block;
    border: none;
    cursor: pointer;
    width: 10%;
}
.contacts::after {
    content: url("../assets/img/icons/symbol.svg");
    display: flex;
    justify-content: center;
    padding: 5%;
}
.contacts__title {
text-align: right;
}
.contacts__wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.contacts__list {
    display: flex;
    justify-content: space-between;

}
.contacts__item {
    display: flex;
    gap: .5em;
    align-items: center;
    transition: 0.3s;
}
.contacts__item:hover {
    transform: scale(1.2);
}

.contacts__text {
    margin: 0;
}
.contacts__link:hover {

}

.icon {
    fill: var(--bright-color);
    transition: 0.2s all;
}

/* TODO: hover icons */
.icon:hover {
    fill: var(--primaty-color);
}

.education__subtitle {
    margin-bottom: 8px;
}
.education__text {
    margin: 0 auto 5px auto;
}
.status-bar {
    width: 50%;
    height: 7px;
    background-color: var(--the-lightest-color);
}
.status-bar__procents {
    height: 7px;
    background-color: var(--bright-colors);
    display: block;
}

.experience__table {
    display: grid;
    grid-template-columns: 0.2fr 1fr;
}
.experience__place_text {
    margin-top: 0;
}
.experience__title {
    margin-bottom: 13px;
}