@font-face {
    font-family: "Verdana";
    src: url("/assets/fonts/Verdana.ttf");
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.list {
    list-style-type: none;
    padding-left: 0;
}

.link {
    text-decoration: none;
    color: inherit;
}


.resume-page {
    width: 70%;
    margin: 5% auto;
    padding: 50px;
    box-shadow: 5px 5px 20px #6a4f57;
    display: flex;
    font-family: "Verdana";
    font-size: 0.9em;
}


.personal-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.profile__info {
    border-bottom: 1px solid #6a4f57;
    margin-bottom: 7px;
}

.profile__photo {
    border-radius: 100px;
}

.profile__name,
.profile__profession,
.title {
    text-transform: uppercase;
}

.title {
    font-size: 1em;
    margin: 5px 0;
}
.subtitle {
    font-size: 0.9em;
    color: rgb(140, 79, 87);
}
.text_bold {
    font-weight: 600;
}
.profile__name {
    font-size: 1.2em;
    font-weight: 600;
}

.contacts__item {
    display: flex;
    gap: .5rem;
    align-items: center;
}

.contacts__item+.contacts__item {
    margin-top: 10px;
}

.contacts__text {
    margin: 0;
}

.icon {
    fill: #6a4f57a9;
    transition: 0.2s all;
}

/* TODO: hover icons */
.icon:hover {
    fill: #6a4f57;
}


